#home {
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}
.header_text {
  font-size: 5rem;
  color: var(--text-color);
  text-align: center;

  @media screen and (max-width: 900px) {
    font-size: 5vw;
    text-align: center;
    line-height: 50px;
  }
}

.text {
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, var(--texthighlight-color), transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  font-size: 10vw;
  font-family: 'Bebas Neue', sans-serif;


  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;

  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 20px var(--texthighlight-color);
    }
  }
}
